.image-item {
  list-style-type: none;
  margin: 8px;
}

.thumbnail-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .thumbnail {
    width: 100px;
    height: 100px;
  }
}