.tab-item {
  list-style-type: none;
  margin-right: 15px;
}

.tab-button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  cursor: pointer;
  outline: none;
}

.active-tab {
  color: #fec653;
  border-bottom: 2px solid #fec653;
}

@media screen and (min-width: 768px) {
  .tab-button {
    font-size: 20px;
  }
}
