* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.app-container {
  min-height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .app-container {
    padding: 40px;
  }
}
